# Mac metadata files
.DS_Store

# Compiled binary
bin
.project.bak
.classpath.bak

# Backups
.orig

# Eclipse settings and caches
.settings
.cache
.classpath

# AST files
ModelChecker/unitary_tests/Model_checker/*.txt
ModelChecker/unitary_tests/ast/*.txt

# Latex files
docs/**/*.log
docs/**/*.aux
docs/**/*.toc

# fab package
ModelChecker/src/fabPackage/*

